.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.sticky-nav {
  box-shadow: 2px 2px 2px 2px transparent !important;
}
.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }

.image-container {
  height: 500px;
}
.image-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 570px;
    color: #FFF;
    display: block;
    background: rgba(0, 0, 0, .5);
    -webkit-transition: all 0.2s ease;
}


.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
    height: 100%;
    width: 100%;
}

.no-video .video-container video,
.touch .video-container video {
    display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}

.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;

    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}

.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    filter: blur(60px);
    width: 100%;
}

.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
    top: 0;
}

@media (max-width: 768px) {
    .video-container video.fillWidth {
        height: 100% !important;
        width: auto !important;
    }
}

.video-container video.fillWidth {
    width: 100%;
}
.right-half {
    background-color: black !important;
    padding: 0;
    position: relative;
    /*overflow: hidden;*/
}

.right-half .cover_div{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.right-half .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    /*background-color: rgba(102, 51, 53, 0.5);*/
    background-color: rgba(0, 0, 0, 0.5);
}

.cover_div .main {
    margin-top: 25px;
    color: white;
    text-align: center;
}

.container .box {
    position:relative;
    width: 300px;
    height:50px;
    text-align:center;
    margin:0 10px;
    background:#00171d;
    overflow:hidden;
    border-radius:4px;
}
.container .box .icon {
    width:100%;
    height:100%;
    background:#00171d;
    transition: 0.5s;
}
.container .box .icon .fa {
    font-size: 1.5em;
    line-height:50px;
    color: #fff;
}
.container .box:hover .icon {
    transform:scale(0);
}
.container .box .details {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#5BC0DE;
    transition:0.5s;
    transform:scale(2);
    opacity:0;
}
.container .box:hover .details {
    transform:scale(1);
    opacity:1;
}
.container .box .details h3 {
    margin:0;
    padding:0;
    line-height:50px;
    font-size:24px;
    color:#fff;
}
.container {
    display:flex;
    margin-bottom: 20px;
}

.download-button {
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  border-radius:28px;
  min-width: 150px;
  font-weight: 600;
  margin-top: -40px;
  margin-bottom: 16px;
}

.light {
  color: #398EB4;
}

.dark {
  color: white;
  background-color: #398EB4;

}

.bus_1 {
    height: 200px;
    margin: 0 auto;
    display: block;
}
.lead {
    font-size: 16px;
}

.lead > i {
    font-size: 12px;
}

._p_small{
    font-size: smaller;
}

.dimts_logo {
    height: 70px;
    width: auto;
}