{% extends "base.html" %}
{% load staticfiles %}
{% block nav5 %}active{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="position-relative overflow-hidden p-3 p-md-5 text-left bg-light"    >
		<h1>About Us</h1>
		<hr/>    
		<div class="row">
      <div class="col-md-6 p-lg-6 my-5">
        <!-- <h1 class="display-4 font-weight-normal">Open Transit Data</h1> -->
        <p class="lead font-weight-normal">Delhi Transportation Department in association with IIIT-Delhi now publishes transit datasets (static and dynamic/real-time) on Open Transit Data for enterprises, third-party developers, researchers, and other members of the public to promote collaboration and co-creation of innovative and inclusive transport solutions.</p>
        <p class="_p_small">Use of Open Transit Data datasets constitutes acceptance of the Open Transit Data <a href="/terms">Terms</a>, <a href="/privacy">Privacy Policy</a>, <a href="/policy">Usage Policy</a>.</p>
      </div>
      <div class="col-md-6 p-lg-6 my-5 d-none d-md-block">
      	<img src="{%static 'img/bus_1.png' %}" height="200px">
  	  </div>
    </div>
  </div>
</div>
{% endblock %}