{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
  <div class="position-relative overflow-hidden p-3 p-md-5 text-left bg-light" style="min-height: 600px">
		<h1 >Announcements</h1>
		<hr/>
		<div class="row">
			{% if announcements %}
			<ol>
			 {% for announcement in announcements %}
			 	{% if announcement.published %}
                    <li><span class="announcement_msg">{{ announcement.message }}</span><span class="announcement_datetime">{{ announcement.createdAt }}</span></li>
				{% endif %}
			 {% endfor %}
			</ol>
			{% else %}
			<h4 style="color: green">No announcements yet!</h4>
			{% endif %}
		</div>

	</div>
</div>


{% endblock %}