{% load static %}
<!DOCTYPE HTML>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/favicon.png' %}">

    <title>Open EV Data | Delhi</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/product.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-multiselect.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% block modal %}{% endblock %}



</head>

<body>

<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="py-2" href="https://ev.delhi.gov.in/">
            <img src="{% static 'img/delhi-switch-sarkar.png' %}" height="75px" style="margin-right: 50px">
        </a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item {% block nav8 %}{% endblock %}">
                <a class="nav-link" href="https://ev.delhi.gov.in/">Switch Delhi</a>
            </li>

            <li class="nav-item {% block nav1 %}{% endblock %}">
                <a class="nav-link" href="/">Home</a>
            </li>

            <li class="nav-item {% block nav7 %}{% endblock %}">
                <a class="nav-link" href="/data/provider/">Data Provider</a>
            </li>

            <li class="nav-item {% block nav2 %}{% endblock %}">
                <a class="nav-link" href="/data/static/">Static Data</a>
            </li>
            <li class="nav-item {% block nav3 %}{% endblock %}">
                <a class="nav-link" href="/data/realtime/">Real Time Data</a>
            </li>
            <li class="nav-item {% block nav6 %}{% endblock %}">
                <a class="nav-link" href="/documentation/">Documentation</a>
            </li>
            <li class="nav-item {% block nav4 %}{% endblock %}">
                <a class="nav-link" href="/contact/">Contact</a>
            </li>
            <li class="nav-item {% block nav5 %}{% endblock %}">
                <a class="nav-link" href="/about/">About</a>
            </li>
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0" style="margin-right: 50px">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
        <a class="py-2" href="/" style="float: right">
            <img src="{% static 'img/delhisarkar.png' %}" height="40px">
        </a>

    </div>
</nav>

{% block content %}{% endblock %}


<footer class="container py-5" style="margin-bottom: 0px">
    <div class="row">
        <div class="col-6 col-md">
            <h5>Data</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="/documentation/">Documentation</a></li>
                <li><a class="text-muted" href="/data/provider/">Data Provider</a></li>
                <li><a class="text-muted" href="/data/static/">Static Data</a></li>
                <li><a class="text-muted" href="/data/realtime/">Real Time Data</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
{#                <li><a class="text-muted" target="_blank"#}
{#                       href="http://traffickarma.iiitd.edu.in:9010/static/agency.txt">Agency</a></li>#}
                <li><a class="text-muted" target="_blank"
                       href="http://delhi.gov.in/wps/wcm/connect/doit/Delhi+Govt/Delhi+Home">Delhi Government</a></li>
                <li><a class="text-muted" target="_blank" href="https://iiitd.ac.in/">IIIT-Delhi</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Contact</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="/announcements/">Announcements</a></li>
                <li><a class="text-muted" href="/contact/">Reach Us</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <a target="_blank" href="https://ev.delhi.gov.in/"><img
                    src="{% static 'img/delhi-switch-sarkar.png' %}" width="100%" style="padding-top: 20px"/></a>
{#            <a target="_blank" href="https://iiitd.ac.in/"><img src="{% static 'img/iiitdlogo.png' %}"#}
{#                                                                width="100%"/></a>#}
        </div>
{#        <div class="col-6 col-md">#}
{#            <div style="align-content: center;">#}
{#                <a target="_blank" href="http://delhi.gov.in/wps/wcm/connect/DOIT_DTC/dtc/home">#}
{#                    <img src="{% static 'img/dtc.png' %}" width="80%"#}
{#                         style="margin-left: auto;margin-right: auto; display: block;">#}
{#                </a>#}
{#            </div>#}
{#            <div style="align-content: center;">#}
{#                <a target="_blank" href="https://www.dimts.in/">#}
{#                    <img class="dimts_logo" src="{% static 'img/dimts.jpg' %}"#}
{#                         style="margin-left: auto;margin-right: auto; display: block;">#}
{#                </a>#}
{#            </div>#}
{#        </div>#}
    </div>
</footer>
<footer class="container" style="padding-top: 0;margin-bottom: 0px">
{#    <div class="row" style="align-items: center;">#}
{#        <a class="text-muted" href="/terms">Terms and Conditions</a>#}
{#    </div>#}
</footer>
<footer class="container" style="padding-top: 0">
    <div class="row" style="align-items: center;">
        <small class="d-block text-muted" style="float: right;">© 2022-2023</small>
        <br/>
    </div>

</footer>

<footer class="container" style="padding-top: 0">
    <div class="row" style="align-items: center;">
        <small class="d-block text-muted" style="float: right;">This site works well on all modern browsers (Chrome, Firefox, Safari)</small>
        <br/>
    </div>

</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap-multiselect.js' %}"></script>
<script>
    Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
    });
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-128216091-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-128216091-1');

  function forceDownload(href) {
    var anchor = document.createElement('a');
    anchor.href = href;
    anchor.download = href;
    anchor.target = '_blank'
    document.body.appendChild(anchor);
    anchor.click();
  }
  $(document).ready(function() {
        $('.multiselect').multiselect();
    });
</script>


</body>
</html>
