{% extends "base.html" %}
{% load staticfiles %}
{% block nav3 %}active{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="position-relative overflow-hidden p-3 p-md-5 text-left bg-light" style="min-height: 600px">
		<h1 >Real Time Data</h1>
		<hr/>
<!-- 		<div class="row">
			<div class="col-md-4 offset-md-4" style="padding-top: 50px">
			<div class="bg-dark" style="align-content: center; text-align: center;padding: 30px;border-radius: 10px">
			<h2 style="color: #DEDEDE">Coming Soon</h2>
			</div>
		</div> -->
		<div class="row">
			<div class="col-md-6">
{#				<br/><h5><i>Have your private key?</i></h5>#}
{#				{% if notAuthorised %}#}
{#					<p style="color: red">{{notAuthorised}}</p>#}
{#				{% endif %}#}
{#				<form method="GET" action="/data/realtime/">#}
{#			    <div class="form-group">#}
{#			    	<div class="row" style="padding-left: 15px">#}
{#				    	<input required="" class="form-control col-md-6 col-sm-6 col-xs-6" aria-describedby="nameHelp" name="passCode">#}
{#				    	<button class="btn btn-primary form-control col-md-3 col-sm-3 col-xs-3" style="margin-left: 50px" >Submit</button>#}
{#			    	</div>#}
{#				</div>#}
{#		    	</form>#}
{#			    <br/>#}
{#			    <div class="block" style="width: 100%;align-items: center;text-align: center;"><b>Or</b></div>#}
				<br/><h5><i>Request For API Access and API Private Key</i></h5>
				{% if e %}
					<p style="color: red">{{email}} or {{number}} is already registered.</p>
				{% endif %}
				{% if success %}
					<p style="color: green"><b>We will contact you on {{email}} or {{number}} very soon.</b></p>
				{% endif %}
				<form method="POST" action="/data/realtime/">
				  <input type='hidden' name='csrfmiddlewaretoken' value='{{csrf_token}}' >
				  <div class="form-group">
				  	<label ><b>Name<span style="color: red"> *</span></b></label><br/>
				    <input type="name" required="" class="form-control" aria-describedby="nameHelp" name="name">
				  </div>
				  <div class="form-group">
				  	<label ><b>Email<span style="color: red"> *</span></b></label><br/>
				    <input name="email" required="" type="email" class="form-control">
				  </div>
				  <div class="form-group">
				  	<label for="contact"><b>Contact Number<span style="color: red"> *</span></b></label><br/>
				    <input name="number" required="" type="number" class="form-control" placeholder="+9198XXXXXXXX">
				  </div>
				  <div class="form-group">
				  	<label for="contact"><b>Company Name</b></label><br/>
				    <input name="companyName"  class="form-control" >
				  </div>
				  <div class="form-group">
				  	<label ><b>Purpose of Usage</b> (please select all that is applicable)</label><br/>
					  <input type="checkbox" name="purpose" value="Mobile APP">
					  <label for="Mobile APP" style="margin-right: 20px">Mobile APP</label>
					  <input type="checkbox" name="purpose" value="Website/Portal">
					  <label>Website/Portal</label><br/>
					  <input type="checkbox" name="purpose" value="Research">
					  <label style="margin-right: 20px">Research</label>
					  <input type="checkbox" name="purpose" value="Student Projects">
					  <label>Student Projects</label><br/>
					  <input type="checkbox" name="purpose" value="Other">
					  <label>Others</label><br/>
				  </div>
				  <div class="form-group">
				  	<label for="contact"><b>Description </b>(please provide us with more background information on your application)</label><br/>
				    <textarea class="form-control" name="description"> </textarea>
				  </div>
				  <div class="form-group">
					  <input type="checkbox" required="">
					  By clicking this, you agree to our
	                    <a target="_blank" href="/terms">Terms
	                        and Conditions</a>, <a target="_blank" href="/policy">Usage Policy</a>, <a
	                        target="_blank" href="/privacy">Privacy
	                     Policy</a><span style="color: red"> *</span><br/>	
                  </div>
				  <div class="form-group">
					  <input type="checkbox" name="subscribed" value="True">
					  I want to be notified (via email) when OTD launches new datasets.<br/>
                  </div>

				  <div style="align-content: center;">
				  	<button type="submit" style="margin-left: auto;margin-right: auto; display: block;width: 200px" class="btn btn-primary">Submit</button>
				  </div>
				</form>				
			</div>
		</div>

	</div>
</div>


{% endblock %}