{% extends "base.html" %}
{% load staticfiles %}

{% block nav1 %}active{% endblock %}

{% block content %}
    <div class="container-fluid" style="height: 700px; overflow: hidden;">
        <div class="row row-outer">
            <div class="col-md right-half right-padding-xl" style="min-height: 700px">
                <div class="cover_div col-md-12">
                    <div class="col-md-4 offset-md-4">
                        <img src="{%static 'img/white_beta.png' %}" width="100%" style="margin-top: 200px">
                    </div>
                </div>
                <div class="overlay"></div>
                <div class="homepage-hero-module">
                    <div class="video-container">
                        <div class="filter"></div>
                        <video autoplay="" loop="loop" muted="" class="fillWidth" src="{%static 'assets/Road-candies/Road-candies.mp4' %}" type="video/mp4"></video>
                        Your browser does not support the video tag. I suggest you upgrade your browser.
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="position-relative overflow-hidden p-3 p-md-5 text-left bg-light">    
	<div class="row">
      <div class="col-md-6 p-lg-6 my-5">
        <h1 class="display-4 font-weight-normal">About</h1>
        <p class="lead font-weight-normal">Department of Transport (Govt of NCT of Delhi) in association with IIIT-Delhi now publishes transit datasets (static and dynamic/real-time) on Open Transit Data for enterprises, third-party developers, researchers, and other members of the public to promote collaboration and co-creation of innovative and inclusive transport solutions.</p>
        <p class="_p_small">Use of Open Transit Data datasets constitutes acceptance of the Open Transit Data <a href="/terms">Terms and Conditions</a></p>
      </div>
      <div class="col-md-6 p-lg-6 my-5 d-none d-md-block">
      	<img class="bus_1" src="{%static 'img/bus_1.png' %}">
        <div style="float: right;"><span style="font-size: 10px">Source: <a href="https://www.pinterest.com/pin/360780620131576373/" target="_blank">https://www.pinterest.com/pin/360780620131576373/</a></span></div>
  	  </div>
    </div>
    </div>

{% endblock %}