{% extends "base.html" %}
{% load staticfiles %}

{% block modal %}
	<!-- Modal -->
	<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h6 class="modal-title" id="exampleModalLabel">Kindly state purpose of downloading this resource.</h6>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
				<form method="POST" action="/data/static/">
				  <input type='hidden' name='csrfmiddlewaretoken' value='{{csrf_token}}' >
				  <input type='hidden' name='dataDownloaded' value='stops' >
				  <div class="form-group">
				  	<label for="usageType" style="margin-right: 20px"><b>Usage Type*</b></label><br/>
					  <input type="radio" value="Commercial" name="usageType" >
				  	<label for="usageType" style="margin-right: 20px">Commercial</label>
					  <input type="radio" value="NonCommercial" name="usageType">
				  	<label for="usageType">Non-Commercial</label>
					</select>
				  </div>
				  <div class="form-group">
				  	<label for="purpose"><b>Purpose*</b></label><br/>
					  <input type="checkbox" name="purpose" value="Academia">
					  <label for="Academia" style="margin-right: 20px">Academia</label>
					  <input type="checkbox" name="purpose" value="R&D">
					  <label>R&D</label><br/>
					  <input type="checkbox" name="purpose" value="Business">
					  <label style="margin-right: 20px">Business</label>
					  <input type="checkbox" name="purpose" value="Journalistic">
					  <label>Journalistic</label><br/>
					  <input type="checkbox" name="purpose" value="Govt Use">
					  <label style="margin-right: 20px">Govt Use</label>
					  <input type="checkbox" name="purpose" value="Other">
					  <label>Other</label><br/>
				  </div>
				  <div class="form-group">
				    <input type="name" class="form-control" id="exampleInputname1" aria-describedby="nameHelp" placeholder="Name" name="name">
				  </div>
				  <div class="form-group">
				    <input name="email" type="email" class="form-control" placeholder="E-mail">
				  </div>
				  <div class="form-group">
					  <input type="checkbox" required="">
					  By clicking this, you agree to our
	                    <a target="_blank" href="/terms">Terms
	                        and Conditions</a><br/>
                  </div>
				  <div style="align-content: center;">
				  	<button type="submit" style="margin-left: auto;margin-right: auto; display: block;width: 200px" class="btn btn-primary">Submit</button>
				  </div>
				</form>	        	
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h6 class="modal-title" id="exampleModalLabel">Kindly state purpose of downloading this resource.</h6>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
				<form method="POST" action="/data/static/">
				  <input type='hidden' name='csrfmiddlewaretoken' value='{{csrf_token}}' >
				  <input type='hidden' name='dataDownloaded' value='routes' >
				  <div class="form-group">
				  	<label for="usageType" style="margin-right: 20px"><b>Usage Type*</b></label><br/>
					  <input type="radio" value="Commercial" name="usageType" >
				  	<label for="usageType" style="margin-right: 20px">Commercial</label>
					  <input type="radio" value="NonCommercial" name="usageType">
				  	<label for="usageType">Non-Commercial</label>
					</select>
				  </div>
				  <div class="form-group">
				  	<label for="purpose"><b>Purpose*</b></label><br/>
					  <input type="checkbox" name="purpose" value="Academia">
					  <label for="Academia" style="margin-right: 20px">Academia</label>
					  <input type="checkbox" name="purpose" value="R&D">
					  <label>R&D</label><br/>
					  <input type="checkbox" name="purpose" value="Business">
					  <label style="margin-right: 20px">Business</label>
					  <input type="checkbox" name="purpose" value="Journalistic">
					  <label>Journalistic</label><br/>
					  <input type="checkbox" name="purpose" value="Govt Use">
					  <label style="margin-right: 20px">Govt Use</label>
					  <input type="checkbox" name="purpose" value="Other">
					  <label>Other</label><br/>
				  </div>
				  <div class="form-group">
				    <input type="name" class="form-control" id="exampleInputname1" aria-describedby="nameHelp" placeholder="Name" name="name">
				  </div>
				  <div class="form-group">
				    <input name="email" type="email" class="form-control" placeholder="E-mail">
				  </div>
				  <div class="form-group">
					  <input type="checkbox" required="">
					  By clicking this, you agree to our
	                    <a target="_blank" href="/terms">Terms
	                        and Conditions</a><br/>
                  </div>
				  <div style="align-content: center;">
				  	<button type="submit" style="margin-left: auto;margin-right: auto; display: block;width: 200px" class="btn btn-primary">Submit</button>
				  </div>
				</form>	        	
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h6 class="modal-title" id="exampleModalLabel">Kindly state purpose of downloading this resource.</h6>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
				<form method="POST" action="/data/static/">
				  <input type='hidden' name='csrfmiddlewaretoken' value='{{csrf_token}}' >
				  <input type='hidden' name='dataDownloaded' value='stop_times' >
				  <div class="form-group">
				  	<label for="usageType" style="margin-right: 20px"><b>Usage Type*</b></label><br/>
					  <input type="radio" value="Commercial" name="usageType" >
				  	<label for="usageType" style="margin-right: 20px">Commercial</label>
					  <input type="radio" value="NonCommercial" name="usageType">
				  	<label for="usageType">Non-Commercial</label>
					</select>
				  </div>
				  <div class="form-group">
				  	<label for="purpose"><b>Purpose*</b></label><br/>
					  <input type="checkbox" name="purpose" value="Academia">
					  <label for="Academia" style="margin-right: 20px">Academia</label>
					  <input type="checkbox" name="purpose" value="R&D">
					  <label>R&D</label><br/>
					  <input type="checkbox" name="purpose" value="Business">
					  <label style="margin-right: 20px">Business</label>
					  <input type="checkbox" name="purpose" value="Journalistic">
					  <label>Journalistic</label><br/>
					  <input type="checkbox" name="purpose" value="Govt Use">
					  <label style="margin-right: 20px">Govt Use</label>
					  <input type="checkbox" name="purpose" value="Other">
					  <label>Other</label><br/>
				  </div>
				  <div class="form-group">
				    <input type="name" class="form-control" id="exampleInputname1" aria-describedby="nameHelp" placeholder="Name" name="name">
				  </div>
				  <div class="form-group">
				    <input name="email" type="email" class="form-control" placeholder="E-mail">
				  </div>
				  <div class="form-group">
					  <input type="checkbox" required="">
					  By clicking this, you agree to our
	                    <a target="_blank" href="/terms">Terms
	                        and Conditions</a><br/>
                  </div>
				  <div style="align-content: center;">
				  	<button type="submit" style="margin-left: auto;margin-right: auto; display: block;width: 200px" class="btn btn-primary">Submit</button>
				  </div>
				</form>	        	
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h6 class="modal-title" id="exampleModalLabel">Kindly state purpose of downloading this resource.</h6>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
				<form method="POST" action="/data/static/">
				  <input type='hidden' name='csrfmiddlewaretoken' value='{{csrf_token}}' >
				  <input type='hidden' name='dataDownloaded' value='trips' >
				  <div class="form-group">
				  	<label for="usageType" style="margin-right: 20px"><b>Usage Type*</b></label><br/>
					  <input type="radio" value="Commercial" name="usageType" >
				  	<label for="usageType" style="margin-right: 20px">Commercial</label>
					  <input type="radio" value="NonCommercial" name="usageType">
				  	<label for="usageType">Non-Commercial</label>
					</select>
				  </div>
				  <div class="form-group">
				  	<label for="purpose"><b>Purpose*</b></label><br/>
					  <input type="checkbox" name="purpose" value="Academia">
					  <label for="Academia" style="margin-right: 20px">Academia</label>
					  <input type="checkbox" name="purpose" value="R&D">
					  <label>R&D</label><br/>
					  <input type="checkbox" name="purpose" value="Business">
					  <label style="margin-right: 20px">Business</label>
					  <input type="checkbox" name="purpose" value="Journalistic">
					  <label>Journalistic</label><br/>
					  <input type="checkbox" name="purpose" value="Govt Use">
					  <label style="margin-right: 20px">Govt Use</label>
					  <input type="checkbox" name="purpose" value="Other">
					  <label>Other</label><br/>
				  </div>
				  <div class="form-group">
				    <input type="name" class="form-control" id="exampleInputname1" aria-describedby="nameHelp" placeholder="Name" name="name">
				  </div>
				  <div class="form-group">
				    <input name="email" type="email" class="form-control" placeholder="E-mail">
				  </div>
				  <div class="form-group">
					  <input type="checkbox" required="">
					  By clicking this, you agree to our
	                    <a target="_blank" href="/terms">Terms
	                        and Conditions</a><br/>
                  </div>
				  <div style="align-content: center;">
				  	<button type="submit" style="margin-left: auto;margin-right: auto; display: block;width: 200px" class="btn btn-primary">Submit</button>
				  </div>
				</form>	        	
	      </div>
	    </div>
	  </div>
	</div>

{% endblock %}

{% block nav2 %}active{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="position-relative overflow-hidden p-3 p-md-5 text-left bg-light" style="min-height: 300px">
            <h1>Static Data</h1>
            <hr/>
            <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
                <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"
                     style="margin-bottom: 10px">
                    <div class="my-3 p-3" style="height: 220px">
                        <h2 class="display-5">STOPS</h2>
                        <p class="lead"><i>Count: 3464</i><br/>List of all the active stops and terminals.</p>
                    </div>

                    <div class="my-3 p-3">
                        <button data-toggle="modal" data-target="#exampleModal1"
                                class="btn btn-default download-button dark">download data
                        </button>
                    </div>

                    <p class="_p_small"><i>Last Updated: </i>{{ stopLastUpdated }}<br/></p>
                    <div class="bg-dark shadow-sm mx-auto"
                         style="width: 80%; height: 250px; border-radius: 21px 21px 0 0;"><img
                            src="{% static 'img/busStop1.png' %}" width="80%" style="padding-top: 20%"></div>
                </div>
                <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden"
                     style="margin-bottom: 10px">
                    <div class="my-3 py-3" style="height: 220px">
                        <h2 class="display-5">ROUTES</h2>
                        <p class="lead"><i>Count: 543</i><br/>Information about all the routes plying in Delhi</p>
                    </div>
                    <div class="my-3 p-3">
                        <button data-toggle="modal" data-target="#exampleModal2"
                                class="btn btn-default download-button light">download data
                        </button>
                    </div>

                    <p class="_p_small"><i>Last Updated: </i>{{ routesLastUpdated }}<br/></p>
                    <div class="bg-light shadow-sm mx-auto"
                         style="width: 80%; height: 250px; border-radius: 21px 21px 0 0;"><img
                            src="{% static 'img/routes.png' %}" width="80%" style="padding-top: 10%"></div>
                </div>

                <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"
                     style="margin-bottom: 10px">
                    <div class="my-3 p-3" style="height: 220px">
                        <h2 class="display-5">STOP TIMES</h2>
                        <p class="lead"><i>Count: 378324</i><br/>Approximate arrival and departure times of buses on the
                            stops</p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="my-3 p-3">
                        <button data-toggle="modal" data-target="#exampleModal3"
                                class="btn btn-default download-button dark">download data
                        </button>
                    </div>
                    <p class="_p_small"><i>Last Updated: </i>{{ stopTimeLastUpdated }}<br/></p>
                    <div class="bg-dark shadow-sm mx-auto"
                         style="width: 80%; height: 250px; border-radius: 21px 21px 0 0;"><img
                            src="{% static 'img/time.png' %}" width="80%" style="padding-top: 20%"></div>
                </div>
                <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden"
                     style="margin-bottom: 10px">
                    <div class="my-3 py-3" style="height: 220px;">
                        <h2 class="display-5">TRIPS</h2>
                        <p class="lead"><i>Count: 16562</i><br/>Frequency and schedule of routes</p>
                    </div>
                    <div class="my-3 p-3">
                        <button data-toggle="modal" data-target="#exampleModal4"
                                class="btn btn-default download-button light">download data
                        </button>
                    </div>
                    <p class="_p_small"><i>Last Updated: </i>{{ tripsLastUpdated }}<br/></p>
                    <div class="bg-light shadow-sm mx-auto"
                         style="width: 80%; height: 250px; border-radius: 21px 21px 0 0;"><img
                            src="{% static 'img/trips.png' %}" width="100%" style="padding-top: 20%"></div>
                </div>


            </div>
        </div>
    </div>

{% endblock %}
